<div ng-controller="atualizarController as ctr" layout="column" ng-cloak class="md-inline-form">
       
        <md-content layout="column">
      <form name="contatoForm" >
    <div layout-sm="column" layout-xs="column" layout="row"  >
         <div layout="row" flex>
          <md-input-container class="md-block" flex="10" >
          <label>ID</label>
          <input name="id" type="text" ng-model="ctr.formatt[0].id" disabled>
          </md-input-container>
          <md-input-container class="md-block" flex >
          <label>Nome</label>
          <input name="nome" type="text" ng-model="ctr.formatt[0].nome" ng-minlength="10" ng-required="true">
          </md-input-container>
        </div>
          <md-input-container class="md-block" flex >
          <label>Telefone</label>
        <input name="telefone" type="text" ng-model="ctr.formatt[0].telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/" >
          </md-input-container>
          <md-input-container class="md-block" flex >
        <label>Operadora</label>
        <md-select ng-model="ctr.formatt[0].operadora" ng-required="true">
            <md-option ng-repeat="operadora in ctr.operadoras" ng-value="operadora.nome" >[[operadora.nome]]</md-option>
        </md-select>

          </md-input-container>
          <md-input-container class="md-block" flex >
          <label>Cor</label>
        <md-select ng-model="ctr.formatt[0].cor" ng-required="true">
                <md-option ng-repeat="cor in ctr.cores" ng-value="cor.cor">[[cor.nome]]</md-option>
        </md-select>
          </md-input-container>
        </div>                       
        <div layout="row">
            <md-button class="md-primary md-raised btn-block" ng-click="ctr.atualizarContato()" ng-disabled="contatoForm.$invalid">Atualizar</md-button>
        </div>
            [[ ctr.formatt ]]
     </form>
      <div ng-show="contatoForm.nome.$error.required && contatoForm.nome.$dirty" class="alert alert-danger">
         Preencha o Nome
      </div>
      <div ng-show="contatoForm.nome.$error.minlength" class="alert alert-danger">
         O campo nome deve ter no minimo 10 caracteres.
      </div>
      
      <div ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty" class="alert alert-danger">
          Preencha o Telefone
      </div>
      <div ng-show="contatoForm.telefone.$error.pattern" class="alert alert-danger">    
          O campo telefone deve ter o formato DDDDD-DDDD
        </div>
        </md-content>
        
</div>